<div id="infoBox">
  <div class="hero">
    <img src="assets/home/TheTrunksaleLogo.png">
    <p class="large brandon">Save up to 60% on designer fashion sourced exclusively from boutiques around the USA</p>
    <p class="small brandon">The Trunksale is supplied by independent fashion boutique located across the USA.</p>
  </div>

  <div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
      <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
      <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
      <p class="go-to brandon">In the meantime, head to  <a href="http://www.thetrunksale.com/">WWW.THETRUNKSALE.COM</a></p>
      <p class="again brandon">Thank You Again!</p>
    <% else %>
      <p class="byline brandon">Get early access</p>
      <%= form_for @user, :url => { :action => "create" } do |f| %>
        <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
        <input class="submit brandon" name="commit" type="submit" value="Let's Shop" />
      <% end %>
    <% end %>
  </div>
</div>