@font-face {
  font: {
    family: "Helvetica LT Std";
    weight: normal;
    style:  normal;
  }

  src: asset-url('helveticaltstd-lightcond.eot', font);
  src: asset-url('helveticaltstd-lightcond.eot?#iefix', font) format('embedded-opentype'),
       asset-url('helveticaltstd-lightcond.woff', font) format('woff'),
       asset-url('helveticaltstd-lightcond.ttf', font) format('truetype'),
       asset-url('helveticaltstd-lightcond.svg#helveticaltstd-lightcond', font) format('svg');
}

@font-face {
  font: {
    family: "Bebas Neue";
    weight: normal;
    style:  normal;
  }

  src: asset-url('bebasneue-webfont.eot', font);
  src: asset-url('bebasneue-webfont.eot?#iefix', font) format('embedded-opentype'),
       asset-url('bebasneue-webfont.woff', font) format('woff'),
       asset-url('bebasneue-webfont.ttf', font) format('truetype'),
       asset-url('bebasneue-webfont.svg#bebas_neueregular', font) format('svg');
}
